<%!
from socket import gethostname
%>\
<!DOCTYPE html>
<html lang="zh-CN" ${html_properties()}>
<head>
  <meta charset="utf-8">
  <meta http-equiv="Pragma" content="no-cache">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta http-equiv="Expires" content="Sun, 6 Mar 2005 01:00:00 GMT">
  ${ self.meta() }
  <title>${ self.title() | trim, h }</title>
  <!--[if IE]>
  ##  <script src="${static('/js/widget/html5-elements.js')}"></script>
  <![endif]-->
  ## <%include file="/widgets/jserror.html" />
  ${ self.head() }
</head>
<body ${ self.body_properties() }>
  ${ next.body() }
  <!-- ${gethostname()} -->
</body>
</html>

<%def name="meta()"></%def>
<%def name="title()"></%def>
<%def name="head()"></%def>
<%def name="body_properties()"></%def>
<%def name="html_properties()"></%def>
