<!DOCTYPE HTML>
<html lang="zh-CN">
    <head>
        <meta charset="utf-8">
        <title>${make_title()}</title>
        ${self.head_style()}
        <script src="/static/js/mod/vendors.js"></script>
        ${self.extra_head()}
    </head>

    <body>
    <div class="container" id="main">
        ${self.body()}
        <div id="footer">
            <span>Code &copy; Douban Inc. 2012-2014</span>
        </div>
    </div>

    <%block name="extra_js" />
    ${self.bottom_script()}
    </body>
</html>

<%def name="title()"></%def>
<%def name="prefix()"></%def>
<%def name="suffix()">Code</%def>

<%def name="make_title()">
<% title = capture(self.title).strip() %>\
<% prefix = capture(self.prefix) %>\
<% suffix = capture(self.suffix).strip() %>\
% if not title:
<% suffix = '' %>\
<% title = 'Code' %>\
% endif
% if suffix:
${prefix}${title} · ${suffix}
% else:
${prefix}${title}
% endif
</%def>

<%def name="nav()">
</%def>

<%def name="bottom_script()">
</%def>

<%def name="head_style()">
</%def>

<%def name="extra_head()">
</%def>
