<%namespace name="badge" file="/widgets/badge.mako" />
<%namespace name="mobile" file="/common/mobile-meta.html" />
<%!
    from time import localtime

    from vilya.models.user import User
    from vilya.models.consts import MOBILE_MAIN_PATH

    from vilya.views.util import client_class

    from vilya.config import DEVELOP_MODE
%>

<!DOCTYPE HTML>
<html lang="zh-CN" class="${client_class(request)}">
    <head>
        <meta charset="utf-8">
        ${mobile.meta()}
        ## FIXME: useless?
        <link rel="search" type="application/opensearchdescription+xml" title="Code Search" href="/hub/search_beta/xml"/>
        <link rel="stylesheet" type="text/css" href="/api/user_setting/css" />
        <title>${ make_title() }</title>
        ${self.head_style()}
        ${self.extra_head()}
        ${self.raven_js()}
    </head>

    <body>
        <div class="navbar">
            <div class="navbar-inner ${'navbar-fixed-top' if request.is_mobile else ''}">
                <div class="container">
                  %if not request.get_path() in MOBILE_MAIN_PATH:
                    <input type="button" onclick="history.back();" value="Back" class="btn btn-back visible-phone">
                    <li class="btn-back divider-vertical visible-phone"></li>
                  %endif
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <a href="/" class="nav-logo">
                        <img src="/static/img/logo.svg" alt="Code" title="C:Community O:Original D:Developer E:Eldamar" width="36" height="36">
                    </a>
                    <ul class="nav nav-collapse">
                      <li class="divider-vertical hidden-phone"></li>
                        <form id="search" action="/hub/search" method="get" class="navbar-search">
                          <input type="text" id="global-search-field" name="q" size="18" accesskey="f" class="search-query" placeholder="Search..." autocomplete="off" />
                        </form>
                      <li class="divider-vertical hidden-phone"></li>
                      ${ self.nav() }
                    </ul>

                    <div class="nav-collapse">
                        <ul id="user-links" class="nav pull-right">
                            ${ self.nav_collapse() }
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            ${self.body()}
            <div id="footer">
              <img class="footer-logo" src="/static/img/code-logo.png" width="24" height="24" alt="Code">
              <span>Code &copy; Douban Inc. 2012-${localtime().tm_year}</span>
              <a href="/hub/emoji" id="show-emoji-hint" title="All emoji" class="hidden-phone"><img src="/static/emoji/smile.png" height="20" width="20"></a>
              <div id="revision">
                  rev:<span id="rev_sha"></span>
                  <span id="rel_time"></span>
              </div>
            </div>
        </div>

        ${badge.fetch_new()}

        <%block name="extra_js" />

        <script id="templ-repos-autocomplete" type="text/x-jquery-tmpl">
          <ul>
            {{each repos}}
            <li class="repo" data-url="{{= url}}">
              <div class="avatar"><img src="{{= owner_avatar}}"></img></div>
              <div class="repo-name">{{= owner_name}} / <b>{{= name}}</b></div>
            </li>
            {{/each}}
          </ul>
        </script>
        <script id="templ-users-autocomplete" type="text/x-jquery-tmpl">
          <ul>
            {{each users}}
            <li class="repo" data-url="{{= url}}">
              <div class="avatar"><img src="{{= avatar}}"></img></div>
              <div class="repo-name"><b>{{= name}}</b></div>
            </li>
            {{/each}}
          </ul>
        </script>

        <script id="templ-team-card" type="text/x-jquery-tmpl">
          <div class="pic">
            <a href="{{= url}}" title="{{= name}}">
              <img width="50px" height="50px" src="{{= profile_url}}">
            </a>
          </div>
          <div class="content">
            <div class="title">
              <a href="{{= url}}" title="{{= name}}">@{{= id}} - {{= name}}</a>
            </div>
            <div class="info">
            <p class="desc" title="{{= desc}}">{{= desc}}</p>
            </div>
            <div class="member">
              <span class="more-members">{{= member_count}}</span>
              <ul class="members cf">
                {{each members}}
                <li>
                  <a href="/people/{{= uid}}/" title="{{= uid}}">
                    <img alt="/people/{{= uid}}/" class="avatar" src="{{= avatar_url}}">
                  </a>
                </li>
                {{/each}}
              </ul>
            </div>
          </div>
        </script>

        <script id="templ-user-card" type="text/x-jquery-tmpl">
          <div class="title">
            <div id="username"><a href="{{= url}}">@{{= name}}</a>
            </div>
          </div>
          <div class="desc">
            {{if badges.length > 6}}
            <div class="avatar-wrap" style='min-height:100px;'>
            {{else}}
            <div class="avatar-wrap">
            {{/if}}
              <div class="avatar">
                <img alt="{{= name}}" src="{{= avatar}}">
              </div>
            </div>
            <div id="badges">
              {{each badges}}
              <div class="badge-item">
                <img class="badgeInfo" src="{{= img}}" width="48" height="48" style="padding:2px;" title="{{= name}}: {{= reason}}" data-title="code" data-reason="{{= reason}}" data-original-title="">
              </div>
              {{/each}}
            </div>
            </div>
          </div>
        </script>
        <script id="render_node_merge" type="text/x-jquery-tmpl">
        <div class="action-bubble">
          <span class="action">
            <span class="state-indicator merged">Merged</span>
          </span>
          <div class="bubble">
            <p>
                <strong>
                    <span class="avatar">
                        <img height="24" src="{{= avatar}}" width="24">
                    </span>
                    <a href="/people/{{= user}}">{{= user}}</a>
                </strong>
                merged
                <time class="js-relative-date" datetime="{{= merged_time}}" title="{{= merged_time}}">{{= merged_time}}</time>
            </p>
          </div>
        </div>
        </script>
        <script src="${static('/js/mod/common.js')}"></script>
        ${self.bottom_script()}
        ${self.ga()}
    </body>
</html>

<%def name="title()"></%def>
<%def name="prefix()"></%def>
<%def name="suffix()">Code</%def>

<%def name="make_title()">
    <% title = capture(self.title).strip() %>
    <% prefix = capture(self.prefix) %>
    <% suffix = capture(self.suffix).strip() %>

    %if not title:
        <% suffix = '' %>
        <% title = 'Code' %>
    %endif

    %if suffix:
        ${prefix}${title} · ${suffix}
    %else:
        ${prefix}${title}
    %endif
</%def>

<%def name="brand()">Code - Douban</%def>

<%def name="nav()">
  <li><a href="/hub/public_timeline">Timeline</a></li>
  <li class="hidden-phone"><a href="/teams">Teams</a></li>
  <li><a href="/gist/" target="_blank">Gist</a></li>
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Extra<b class="caret"></b></a>
    <ul class="dropdown-menu">
      <li><a href="/hub/search_beta/" target="_blank"><i class="icon-search"></i>&nbsp;Search</a></li>
      <li><a href="/fair/"><i class="icon-list-alt"></i>&nbsp;Fair</a></li>
      <li class="hidden-phone"><a href="/code/issues/"><i class="icon-question-sign"></i>&nbsp;FAQ</a></li>
      <li><a href="/code/docs/pages/index.html" target="_blank"><i class="icon-book"></i>&nbsp;Blog</a></li>
      <li><a href="/hub/stat/"><i class="icon-th-list"></i>&nbsp;Statistics</a><li>
      <li class="divider"></li>
      <li class="hidden-phone"><a href="/hub/shop/"><i class="icon-gift"></i>&nbsp;Shop</a></li>
    </ul>
  </li>
</%def>

<%def name="nav_collapse()">
  <%
      user = request.user
  %>
  <!-- _performtips_ -->
  % if user:
  <li>
    <a href="/hub/notification">
      <i class="icon-bullhorn"></i>
      <% unread_count = user.unread_notification_count %>
      % if unread_count > 0:
      <b class="counter">${unread_count}</b>
      % endif
    </a>
  </li>
  <li class="divider-vertical"></li>

  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
      <i class="icon-plus"></i>
      <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
      <li>
        <a href="/hub/create" class="name">
          <i class="icon-book"></i> New project
        </a>
        <a href="/hub/add_team" class="name">
          <i class="icon-th"></i> New team
        </a>
      </li>
    </ul>
  </li>

  <li class="dropdown">

    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
      <img class="avatar lazy" data-original="${user.avatar_in_size(80)}" height="18" width="18" src="${user.avatar_in_size(80)}">
      <b class="caret"></b>
    </a>

    <ul class="dropdown-menu">
      <li>
        <a href="${user.url}" class="name">
          <i class="icon-user"></i> Profile
        </a>
      </li>

      <li>
        <a href="/favorites">
          <i class="icon-star"></i> Favorites
        </a>
      </li>

      <li>
        <a href="/watching">
          <i class="icon-eye-open"></i> Watching
        </a>
      </li>

      <li>
        <a href="/settings">
          <i class="icon-cog"></i> Settings
        </a>
      </li>

      <li class="divider"></li>

      <li>
        <a href="${User.create_logout_url(request.url)}" title="Sign out">
          <i class="icon-off"></i> Sign out
        </a>
      </li>
    </ul>

  </li>
  % else:
  <li>
    <span>
      <a href="${User.create_register_url(request.url)}" class="btn btn-success">Sign up</a>
    </span>
  </li>
  <li><a href="${User.create_login_url(request.url)}">Sign in</a></li>
  % endif
</%def>

<%def name="bottom_script()">
</%def>

<%def name="ga()">
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
% if not DEVELOP_MODE:
  ga('create', 'UA-40344262-1', 'douban.com');
% else:
  ga('create', 'UA-40344262-1', {
    'cookieDomain': 'none'
  });
% endif
  ga('send', 'pageview');
</script>
</%def>

<%def name="head_style()">
    <link rel="stylesheet" type="text/css" href="/static/css/lib/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="${static('/css/mod/common.css')}" />
</%def>

<%def name="extra_head()">
</%def>

<%def name="raven_js()">
    % if not DEVELOP_MODE:
        <script src="${static('/js/mod/raven.js')}"></script>
    % endif
</%def>
