
<%inherit file="/base.html" />

<%def name="title()">Not yet done...</%def>
<%def name="suffix()"></%def>

<%def name="head_style()">
    <link rel="stylesheet" type="text/css" href="/static/css/lib/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="${static('/css/app/future.css')}" />
</%def>

<div class="hero-unit">
	<h2>面包会有的，功能也会有的 :)</h2>
	<p>你也可以到 <a href="http://code.dapps.douban.com/code/report" target="_blank">http://code.dapps.douban.com/code</a> 提建议和意见</p>
</div>
