<form id="add-rec-form" accept-charset="UTF-8" method="post" action="/people/${name}/add_rec">
  <textarea name="content" tabindex="100" id="content" placeholder="Write something to recommend ${name}" class="content" maxlength="1024" required></textarea>
  <div class="form-actions">
    <button type="submit" class="classy primary" tabindex="100">Send</button>
    <span class="optional"> 
      <a href="javascript:void(0);" class="minibutton close-form dangerous">Cancel</a>
    </span>
  </div>
</form>
