<%def name="repository_empty(project)">
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Empty repository</h3>
    </div>
    <div class="panel-body">
        <h5>Create a new repository on the command line</h5>
        <pre>
        <code>touch README.md</code>
        <code>git init</code>
        <code>git add README.md</code>
        <code>git commit -m "first commit"</code>
        <code>git remote add origin ${project.clone_url}</code>
        <code>git push -u origin master</code>
        </pre>
        <h5>Push an existing repository from the command line</h5>
        <pre>
        <code>git remote add origin ${project.clone_url}</code>
        <code>git push -u origin master</code>
        </pre>
    </div>
</div>
</%def>

