<%inherit file="/base.html" />
<%namespace name="pagehead" file="/widgets/pagehead.html" />
<%namespace name="pulls" file="/widgets/pulls.html" />

<%def name="head_style()">
    <link rel="stylesheet" type="text/css" href="/static/css/lib/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/lib/flat-ui.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/lib/code.css" />
    <link rel="stylesheet" type="text/css" href="${static('/css/app/pulls.css')}" />
</%def>

<%def name="bottom_script()">
    <script src="${static('/js/app/pull/pulls.js')}"></script>
</%def>

<%def name="title()">Pull Requests</%def>

<%def name="suffix()">${project.name}</%def>

${pagehead.trac_header("pulls", project, user, newpull=True)}

${pulls.pulls_ticket_list(tickets,
                          page=page,
                          open_tab_link=open_tab_link,
                          close_tab_link=close_tab_link,
                          is_closed_tab=is_closed_tab,
                          n_pages=n_pages,
                          n_tickets=ticket_total_len,
                          key_word=key_word,
                          project_name=project.name)}
