<%inherit file="/base.html" />
<%!
    from hub.static import static
    from vilya.libs.text import plural
    from vilya.models.user import User
    from vilya.models.elastic.consts import (K_REPO, K_CODE, K_USER, K_DOC, K_PULL, K_ISSUE,
        SEARCH_KINDS, SEARCH_KIND_NAMES, SEARCH_KIND_ICON_NAMES)
%>

<%namespace name="paginate" file="paginate.html" />

<%block name="extra_head">
  ## FIXME: css move to app/, use .scss ?
  <link href="/static/css/search.css" type="text/css" rel="stylesheet">
  <link href="/static/css/highlight.css" type="text/css" rel="stylesheet">
</%block>

<%def name="bottom_script()">
  <script src="${static('/js/app/search/search.js')}"></script>
</%def>

<%def name="title()">Search</%def>
<%def name="brand()">Code:search</%def>

<div class="pagehead separation trans">
  <div class="codesearch-head">
    <h1>Search <a href="#" id="tip" style="font-size:9px">Toggle Tips?</a></h1>
    <div id="code_search">
      <form accept-charset="UTF-8" action="" class="search_repos"
            id="search_form" method="get">
        <div class="commandbar">
          <span class="message"></span>
          <input class="search-page-input js-search-query" type="text"
            name="q" value="${q}" id="command-bar"/>
          <div class="display hidden"></div>
        </div>
        <input type="hidden" id="type_value" name="language" value="${language}">
        <input type="hidden" id="type_value" name="state" value="${state}">
        <input type="hidden" id="type_value" name="doctype" value="${doctype}">
        <input type="hidden" id="type_value" name="kind" value="${kind}">
        <input type="hidden" id="type_value" name="s" value="${s}">
        <button class="button" type="submit" tabindex="3">Search</button>
        <input type="hidden" name="ref" value="searchresults">
      </form>
      <div class="clear"></div>
      <div id="tip-content" style="display: none">
        <ul>
          <li>Search by specific postfix: <em>KEYWORD +name:"*.js"</em></li>
          <li>Search by specific user: <em>KEYWORD +owner.raw:"USER"</em></li>
          <li>Search by time range: <em>KEYWORD AND commit_time:["2013-07-08" TO "2013-09-10"]</em></li>
          <li>Avaliable fields: <em>name, project, owner, committer, commit_time, language, ...</em></li>
          <li>Syntax: <a href="http://lucene.apache.org/core/2_9_4/queryparsersyntax.html">Syntax of Lucence query</a></li>
          <li><a href="http://code.dapps.douban.com/gist/liwentao/678/">Code search document</a></li>
          <li><a href="http://code.dapps.douban.com/gist/fanjianjin/677/">Elasticsearch development</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<hr>

<div class="row">
  <div class="span2 root-pane">
    <div class="menu-container">
      <ul class="menu">
        ${self.sub_menu()}
      </ul>
    </div>
    ${self.filter_pane()}
  </div>
  <div class="span10 right-content">
    ${self.right_content(total, result)}
  </div>
</div>

<%def name="sub_menu()">
  % for k in SEARCH_KINDS:
  <li>
    <a href="${SEARCH_URLS[k]}"
       %if kind == k:
       class="selected"
       %endif
       >
       <span class="mini-icon ${SEARCH_KIND_ICON_NAMES[k]}"></span>
      ${SEARCH_KIND_NAMES[k]} <span class="counter">0</span>
    </a>
  </li>
  % endfor
</%def>

<%def name="filter_pane()">
    <div class="filter-pane">
      % for title, data in facets.iteritems():
      <h3>${title}s</h3>
      <ul class="filter-list small">
        % for item in data:
        <li>
          <a class="filter-item ${'selected' if item.get('selected') else ''}" href="${item['url']}">
            % if item.get('selected'):
            <span class="octicon octicon-remove-close"></span>
            % else:
            <span class="count">${item['count']}</span>
            % endif
            ${item['term']}
          </a>
        </li>
        % endfor
      </ul>
      % endfor
    </div>
</%def>


<%def name="right_content(total, result)">
<div class="search-content">
  <div class="sort-bar">
    <form action="" method="get" data-pjax="" data-autosubmit="">
      <input type="hidden" name="q" value="${q}">
      <input type="hidden" name="kind" value="${kind}">
      <input type="hidden" id="type_value" name="language" value="${language}">
      <input type="hidden" id="type_value" name="state" value="${state}">
      <input type="hidden" id="type_value" name="doctype" value="${doctype}">
      <span class="sort-label">Sort:</span>
      <select name="s">
        <option value="">Best match</option>
        %for value, (name, data) in orders.iteritems():
        <option value="${value}" data=""
                %if s == value:
                selected
                %endif
                >${name}</option>
        %endfor
      </select>
      <a href="#" class="sort-link sort-desc">
        <span class="sort-icon"></span>
      </a>
    </form>
    <h3>We've found ${total} ${SEARCH_KIND_NAMES[kind]} results</h3>
  </div>
  %if kind == K_REPO:
  ${self.render_project(result)}
  %elif kind == K_CODE:
  ${self.render_code(result)}
  %elif kind == K_USER:
  ${self.render_user(result)}
  %elif kind == K_DOC:
  ${self.render_doc(result)}
  %elif kind == K_PULL:
  ${self.render_pull(result)}
  %elif kind == K_ISSUE:
  ${self.render_issue(result)}
  %endif
  ${paginate.render(page, pages, SEARCH_URLS[kind])}
</div>
</%def>

<%def name="render_project(result)">
<ul class="repolist js-repo-list">
    %for pro in result:
    <li class="public source">
      <ul class="repo-stats">
        <li>${pro.language}</li>
        <li class="stargazers">
          <a href="${pro.url}" title="Watchs" class="">
            <span class="mini-icon mini-icon-star"></span>${pro.watched_count}
          </a>
        </li>
        <li class="forks">
          <a href="${pro.url}" title="Forks">
            <span class="mini-icon mini-icon-fork"></span>${pro.forked_count}
          </a>
        </li>
      </ul>
      <h3>
        <a href="${pro.owner.url}">
            <img class="gravatar" height="32" width="32" src="${pro.owner.avatar_url}"/></a>
        <a href="${ pro.url }">${pro.name}</a>
      </h3>
      <div class="body">
        <p class="description">
          ${pro.description}
        </p>
        <p class="updated-at">Last updated
          <time class="js-relative-date" datetime="${pro.last_updated}" title="${pro.last_updated}">${pro.last_updated}</time>
        </p>
      </div>
    </li>
    %endfor
  </ul>
</%def>

<%def name="render_code(result)">
<div class="code-list">
  %for code in result:
  <div class="code-list-item public">
    <a href="${code.owner.url}">
      <img class="avatar" height="28" width="28" src="${code.owner.avatar_url}"/>
    </a>
    <span class="language">${code.language}</span>
    <p class="title">
      <a href="${code.project.url}">${code.project.name}</a> –
      <a class="path-url" href="${code.path_url}">${code.name}</a>
      <br/>
      <span class="updated-at">Last indexed
        <time class="js-relative-date" datetime="${code.last_updated}" title="${code.last_updated}">${code.last_updated}</time>
      </span>
    </p>
    <div class="bubble">
      <div class="file-box">
        <div class="data file">
          ${code.snippet() |n}
        </div>
      </div>
    </div>
  </div>
  %endfor
</div>
</%def>

<%def name="render_user(result)">
<div class="col-2">
  <ul class="members-list">
    %for ur in result:
    <li>
      <a href="${ur.user.url}">
        <img class="gravatar" height="48" width="48" src="${ur.user.avatar_url}"/></a>
      <h4>
        <a href="${ ur.user.url }">${ur.user.name}</a>
        <em>${ur.user.email}</em>
      </h4>
    </li>
    %endfor
  </ul>
</div>
</%def>

<%def name="render_doc(result)">
<div class="code-list">
  %for source, highlight in result:
  <div class="code-list-item public">
    <a href="/people/${source['author']}">
      <% avatar = User(source['author']).avatar_url %>
      <img class="avatar" height="28" width="28" src="${avatar}"/>
    </a>
    <span class="language">
      %if source['type'] == 'docs':
          Doc
      %else:
          Gist
      %endif
    </span>
    <p class="title">
    %if source['type'] == 'docs':
      <a href="/${source['project_name']}">${source['project_name']}</a> –
      <a href="/${source['project_name']}/${source['url']}">
        %if highlight.get('url', []):
	    ${highlight['url'][0] | n}
	%else:
            ${source['url']}
        %endif
      </a>
      %else:
      <a href="/gist/${source['author']}">
        %if highlight.get('author', []):
          ${highlight['author'][0] | n}</a> -
        %else:
          ${source['author']}</a> -
        %endif
      <a href="${source['url']}">
        %if highlight.get('description',[]):
            ${highlight['description'][0] | n}
        %else:
            ${source['description']}
        %endif
      </a>
      %endif
      <br/>
      <span class="updated-at">Last updated
	<time class="js-relative-date" datetime="${source['time']}" title="${source['time']}">
	  ${source['time']}
	</time>
      </span>
    </p>
    <div class="bubble">
      <div class="file-box">
	<div class="data file">
	  <% fragments = highlight.get('content', []) %>
	  %if fragments:
	    %for fragment in fragments:
	      ${fragment.replace("\n", "<br />") | n}
	      <br />
	    %endfor
	  %else:
	    ${source['content'][:200].replace("\n", "<br />") | n}
	  %endif
        </div>
      </div>
    </div>
  </div>
  %endfor
</div>
</%def>

<%def name="render_pull(result)">
<div class="code-list">
  % for pr in result:
        %if pr.ticket_project:
        <div class="code-list-item public">
          <a href="${pr.ticket_project.url}">
            <img class="avatar" height="28" width="28" src="${pr.author.avatar_url}"/>
          </a>
            <h3>
                %if pr.ticket.title:
                    <a href="${pr.ticket_url}">${pr.ticket.title}</a>
                %else:
                    <a href="${pr.ticket_url}">这位亲太懒，没写标题，点我吧！！</a>
                %endif
              <br/>
            </h3>
            <div class="bubble">
              <div class="code">
                <div class="highlight">
                  ${pr.snippet() |n}
                </div>
              </div>
            </div>

            <div class="meta">
                <a href="${pr.author.url}">${pr.author.name}</a>
                submitted to
                <a href="${pr.ticket_project.url}">
                    ${pr.ticket_project.name}
                </a>
                <time class="js-relative-date" datetime="${pr.ticket.time.strftime('%Y-%m-%dT%H:%M:%S+0800')}" title="${pr.ticket.time}">${pr.ticket.time}</time>
                <a href="${pr.ticket_url}" class="pull-right">
                    <span class="muted">
                    <% comments_len = len(pr.ticket.get_comments()) + len(pr.ticket.get_codereviews()) %>
                    ${comments_len} comments
                    </span>
                </a>
            </div>
        </div>
        % endif
    % endfor
</div>
</%def>

<%def name="render_issue(result)">
<div class="code-list">
  % for ir in result:
       <%
       ticket = ir.issue
       target = ticket.target if ticket else None
       %>
       % if target:
       <div class="code-list-item public">
           <%
              summary_anchor = 'summary'
              lastcomment_anchor = 'comment-%s' % ticket.comment_count
           %>
          <a href="${target.url}">
            <img class="avatar" height="28" width="28" src="${target.owner.avatar_url}"/>
          </a>
           <h3>
               <a href="${ticket.url}">${ticket.title}</a>
               <%
               tags = ticket.tags
               %>
               % for tag in tags:
                   <span class="label">${tag.name}</span>
               % endfor
           </h3>
            <div class="bubble">
              <div class="code">
                <div class="highlight">
                  ${ir.snippet() |n}
                </div>
              </div>
            </div>

           <div class="meta">
               <%
                   if ticket.closer:
                       author = ticket.closer
                       info_pattern = 'closed #%d of'
                       time = ticket.closed_at
                   else:
                       author = ticket.creator
                       info_pattern = 'submitted #%d to'
                       time = ticket.created_at
                   info = info_pattern % ticket.number
               %>
               <a href="${author.url}">
                   <img class="user-avatar-mini" src="${author.avatar_url}">
                   ${author.name}
               </a>
               <span class="issue-info">
                   ${info}
                   <a href="${target.url}">
                       ${target.name}
                   </a>
                   <time class="js-relative-date" datetime="${time.strftime('%Y-%m-%dT%H:%M:%S+0800')}" title="${time}">${time}</time>

                   % if ticket.provide('related-projects'):
                       % if ticket.related_projects:
                           % for prj in ticket.related_projects:
                               <a href="${ prj.url }">
                                   <span class="label label-info">${ prj.name }</span>
                               </a>
                           % endfor
                           已关联
                       % endif
                   % endif

                   % if ticket.provide('pledge'):
                       % if ticket.pledged_amount:
                       已有<span class="label label-success">${ ticket.pledged_amount }个PR</span>承诺
                       % endif
                   % endif
               </span>

               <a class="comment-count pull-right" href="${ticket.url}#${lastcomment_anchor}">
               % if ticket.provide('vote'):
                 % if ticket.vote_count > 0:
                     ${ticket.vote_count} ${plural(ticket.vote_count, "vote", "votes")}
                 % endif
                 % if ticket.vote_count > 0 and ticket.comment_count > 0:
                     ,
                 % endif
               % endif
               % if ticket.comment_count > 0:
                   ${ticket.comment_count} ${plural(ticket.comment_count, "comment", "comments")}
               % endif
               </a>
           </div>
       </div>
       % endif
    % endfor
</div>
</%def>
