<script id="loginTemplate" type="text/template">
<form role="form">
    <div class="form-group">
        <label for="loginEmail">Email address</label>
        <input type="email" class="form-control" id="loginEmail" placeholder="Enter email">
    </div>
    <div class="form-group">
        <label for="loginPassowrd">Password</label>
        <input type="password" class="form-control" id="loginPassowrd" placeholder="Password">
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox">remember me
        </label>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>
</script>
