<script id="signupTemplate" type="text/template">
<form role="form">
    <div class="form-group">
        <label for="signupName">Name</label>
        <input type="name" class="form-control" id="signupName" placeholder="Enter username">
    </div>
    <div class="form-group">
        <label for="signupEmail">Email</label>
        <input type="email" class="form-control" id="signupEmail" placeholder="Enter your email address">
    </div>
    <div class="form-group">
        <label for="signupPassowrd">Password</label>
        <input type="password" class="form-control" id="signupPassowrd" placeholder="Password">
    </div>
    <button type="submit" class="btn btn-default">Signup</button>
</form>
</script>
