
<%def name="buttons(dropup=False)">
<%
    from vilya.libs.emoji import EMOJIS, url_for_emoji, EMOJIONE, TWEMOJI
%>
<div class="btn-group pull-right quick-emoji ${'dropup' if dropup else ''}">
    <a class="btn btn-small disabled">Quick Emoji:</a>
    <a class="btn btn-small" data-emoji=":lgtm:">
        <img src="/static/emoji/lgtm.png" width="18" alt="lgtm" />
    </a>
    <a class="btn btn-small" data-emoji=":beer:">
        <img src="/static/emoji/ruby.png" width="18" alt="beer" />
    </a>
    <a class="btn btn-small" data-emoji=":clap:">
        <img src="/static/emoji/thumbs_up_sign.png" width="18" alt="clap" />
    </a>
    <button class="btn btn-small dropdown-toggle" data-toggle="dropdown">
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        <li class="description">
        Select an emoji
        </li>
        <li class="divider"></li>
        <div class="emojis">
            % for emoji in EMOJIS:
            <a data-emoji="${emoji}">
                <img src="${url_for_emoji(emoji)}" />
            </a>
            % endfor
        </div>
    </ul>
</div>
<div class="btn-group pull-right quick-emoji ${'dropup' if dropup else ''}">
    <button class="btn btn-small dropdown-toggle" data-toggle="dropdown">
        <img src="/static/emoji/1F427.png" width="18" alt="clap" />
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        <li class="description">
        Select an emoji
        </li>
        <li class="divider"></li>
        <div class="emojis">
            % for emoji in EMOJIONE:
            <a data-emoji="${emoji}">
                <img src="${url_for_emoji(emoji)}" />
            </a>
            % endfor
        </div>
    </ul>
</div>
<div class="btn-group pull-right quick-emoji ${'dropup' if dropup else ''}">
    <button class="btn btn-small dropdown-toggle" data-toggle="dropdown">
        <img src="/static/emoji/1f64f.png" width="18" alt="clap" />
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        <li class="description">
        Select an emoji
        </li>
        <li class="divider"></li>
        <div class="emojis">
            % for emoji in TWEMOJI:
            <a data-emoji="${emoji}">
                <img src="${url_for_emoji(emoji)}" />
            </a>
            % endfor
        </div>
    </ul>
</div>
<div class="zoom" style="position: absolute; z-index: 1001; display: none; top: -30px; left: 180px">
    <img class="zoom-image" src="" style="width: 100px">
</div>
</%def>
