<%!
    from vilya.libs.text import trunc_utf8, plural
    from vilya.models.user import User
    from vilya.models.project import CodeDoubanProject
%>
<%namespace name="utils" file="/widgets/utils.html" />

<%def name="show_team_members(team)">
    <%
        members = team.user_ids if team else []
    %>
    <div class="mod">
        <div class="hd">
            Members(${len(members)})
        </div>
        <ul class="nav nav-list">
            %for uid in members:
                <li>
                    <img height="20" src="${User(uid).avatar_url}" width="20">
                    <a class="item" href="/people/${uid}/">${uid}</a>
                </li>
            %endfor
        </ul>
        <div class="bottom-bar"></div>
    </div>
</%def>

<%def name="team_projects(projects, team, is_admin=False)">
    <div class="mod">
        <div class="hd">
            Projects(${team.n_projects})
            %if is_admin:
            <a href="${team.url}add_project" class="btn btn-success new_project">Add Project</a>
            %endif
        </div>
        <ul class="nav nav-list my_projects">
            %for proj in projects:
                <li>
                    %if is_admin:
                    <a class="right btn btn-danger confirm btn-mini delete-btn" data-proj="${proj.name}" data-team="${team.uid}" href="javascript:void(0);"> <i class="icon-trash icon-white"></i></a>
                    %else:
                    %endif
                    <a href="/${proj.name}" class="item">${proj.name}</a>
                    <p class="dull-comment">${proj.short_summary}</p>
                </li>
            %endfor
        </ul>
        <div class="bottom-bar"></div>
    </div>
</%def>

<%def name="tabs_fixed_on_left(items, list_type)">
    <div class="span3">
        <ul class="mod">
            %if items:
            %for item in items:
            <li class="${'active' if list_type == item['type'] else ''}">
            <a href="${ item['url'] }">
              ${ item['text'] }
                <%
                    count = item.get('count', None)
                %>
                %if count is not None:
                <b class="counter">${ '%s' % count }</b>
                %endif
            </a>
            </li>
            %endfor
            %endif
        </ul>
    </div>
</%def>

<%def name="show_teams()">
<%!
from vilya.models.team import Team
%>
<div class="mod">
    <div class="hd">
         Teams(${len(teams)})
    </div>
    <ul class="nav nav-list">
    %for key, name in teams:
        <%
            team = Team.get_by_uid(key)
        %>
        <li>
            <span class="inline-left dull-comment"><i class="icon-user"></i>${ team.n_users }</span>
            <span class="inline-left dull-comment"><i class="icon-leaf"></i>${ team.n_projects }</span>
            <a class="item" href="${team.url}">${name}</a>
            <p class="dull-comment">${ team.short_description }</p>
        </li>
    %endfor
    </ul>
</div>
</%def>


<%def name="projects(your_projects, watched_projects)">
    <div class="mod">
        <div class="hd">
    	    Your Projects(${len(your_projects)})
    	    <a href="/hub/create" class="btn btn-success pull-right">New Project</a>
    	  </div>
	      <ul class="nav nav-list my_projects">
	        %for proj in your_projects:
	        <li><a href="/${proj.name}" class="item">${proj.name}</a></li>
	        %endfor
	      </ul>
	      <div class="bottom-bar"></div>
    </div>

    <div class="mod">
    </div>
    %if len(watched_projects) > 0:
                <div class="mod">
                          <div class="hd">
                                    Watched Projects(${len(watched_projects)})
                          </div>
                          <ul class="nav nav-list watched-projects">
              <span class="help-inline">Didn't include your own projects.</span>
                  %for proj in watched_projects:
                %if proj:
                    <li><a href="/${proj.name}" class="item">${proj.name}</a></li>
                %endif
            %endfor
                          </ul>
                          <div class="bottom-bar"></div>
                </div>
    %endif
    <div class="mod">
        <div class="top-bar">
            <a href="/mirrors" class="btn btn-success">
                Enter the mirror list page.
            </a>
        </div>
    </div>
</%def>

<%def name="pull_request()">
    <div class="rightside">
    <div class="right-tittle">
       Pulls
    </div>
    % if len(your_tickets) == 0:
        <li>
        <p>No pull requests to show</p>
        </li>
    % else:
    % for ticket in your_tickets:
        <% ticket_project = CodeDoubanProject.get(ticket.project_id) %>
        %if ticket_project:
	<li>
            <% ticket_url = '/%s/pull/%s/' % (ticket_project.name, ticket.ticket_number) %>
            <h5>
                %if ticket.title:
                    %if show_ticket_project_name:
                    <a href="${ticket_url}">[${ticket_project.name}]${ticket.title}</a>
                    %else:
                    <a href="${ticket_url}">${ticket.title}</a>
                    %endif
                %else:
                    <a href="${ticket_url}">这位亲太懒，没写标题，点我吧！！</a>
                %endif
            </h5>
            <p>
                <a href="${ticket_url}">
                    ${ticket.description}
                </a>
            </p>
            <div class="meta">
                <% author = User(ticket.author) %>
                <a href="${author.url}" class="gravatar">
                    <img class="avatar small lazy" src="${author.avatar_url}">
                </a>
                <a href="${author.url}">${author.name}</a>
                submitted to
                <a href="/${ticket_project.name}">
                    ${ticket_project.name}
                </a>
        </li>
        % endif
    % endfor
    % endif
    </div>
</%def>


<%def name="render_issue(ticket)">
<% target = ticket.target %>
% if target:
<div class="issue-item">
    <%
       summary_anchor = 'summary'
    %>
    <h5>
        <a href="${ticket.url}">${ticket.title}</a>
        <% tags = ticket.tags %>
        % for tag in tags:
            <span class="label labelstyle-${tag.tagname.hex_color}">${tag.name}</span>
        % endfor
    </h5>
    <p>
    <a href="${ticket.url}#${summary_anchor}">
        <% description = ticket.description or '' %>
        ${trunc_utf8(description, 40)}
    </a>
    </p>
    <div class="meta">
        <%
            if is_closed_tab:
                author = ticket.closer
                info_pattern = 'closed #%d of'
                time = ticket.closed_at
            else:
                author = ticket.creator
                info_pattern = 'submitted #%d to'
                time = ticket.created_at
            info = info_pattern % ticket.number
        %>
        <a href="${author.url}">
            <img class="avatar small lazy" src="${author.avatar_url}">
            ${author.name}
        </a>
        <span class="issue-info">
            ${info}
            <a href="${target.url}">
                ${target.name}
            </a>
        </span>
        </a>
    </div>
</div>
% endif
</%def>


<%def name="issue_list(myissues, is_closed_tab=False)">
<% ticket_total_len = len(myissues) %>
<div class="rightside">
    <div class="right-tittle">
       Issues
    </div>

    % if len(myissues) == 0:
        <li>
            <p>No issue to show</p>
        </li>
    % else:
        % for i, myissue in enumerate(myissues):
            <li>
            ${render_issue(myissue)}
            </li>
        % endfor
    % endif
</div>
</%def>


<%def name="show_chatroom(team)">
    <div class="mod">
      Chat Room: <a href="/hub/chat/#${team.uid}">${team.uid}</a>
    </div>
</%def>
