<%inherit file="/base.html"/>
<%namespace file="/issue/utils.html" import="previewable_comment_form" />

<%def name="head_style()">
  <link rel="stylesheet" type="text/css" href="/static/css/lib/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="/static/css/lib/flat-ui.css" />
  <link rel="stylesheet" type="text/css" href="/static/css/lib/code.css" />
  <link rel="stylesheet" type="text/css" href="${static('/css/app/center.css')}"/>
</%def>

<%def name="bottom_script()">
    <script src="${static('/js/app/center/main.js')}"></script>
</%def>

<%def name="title()">CODE Center</%def>

<div class="row">
    <div class="span12">
        <div class="tab-content">
            <div class="tab-pane active" id="preview_discussion_bucket">
                <form accept-charset="UTF-8" action="/hub/center/" class="form-horizontal well" method="post">
                    ${previewable_comment_form(class_="pull-form", title="", zen=True)}
                    <button type="submit" class="btn btn-primary btn-medium" tabindex="10" data-disable-invalid>
                        Create
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
