button.classy.primary, button.primary.classy:disabled, button.primary.classy.disabled, button.primary.classy:disabled:hover, button.primary.classy.disabled:disabled:hover, button.classy:disabled:hover.primary, button.classy.disabled:disabled:hover.primary { color:#fff; text-shadow:0 -1px 0 rgba(0, 0, 0, 0.4); border-color:#74BB5A; border-bottom-color:#509338; background:#8ADD6D; -ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr='#8add6d', endColorstr='#60b044')"; box-shadow:0 1px 4px rgba(0, 0, 0, 0.2); background-image:-webkit-linear-gradient(top, #8ADD6D, #60B044) }
button.classy.primary.disabled { opacity: 0.5 }

button.classy,
button.classy:disabled,
button.classy.disabled,
a.button.classy:disabled,
a.button.classy.disabled,
button.classy:disabled:hover,
button.classy.disabled:disabled:hover,
a.button.classy.disabled:hover:disabled,
a.button.classy.disabled:hover,
a.button.classy,
button.classy:disabled:hover,
button.classy.disabled:disabled:hover,
a.button.classy:disabled:hover,
a.button.classy.disabled:disabled:hover,
a.button.classy.disabled:hover {
	display: inline-block;
	padding: 8px 15px;
	line-height: normal;
	position: relative;
	font-family: Helvetica,arial,freesans,clean,sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #666;
	text-shadow: 0 1px rgba(255, 255, 255, 0.9);
	background: whiteSmoke;
	background: -moz-linear-gradient(whiteSmoke, #E5E5E5);
	background: -webkit-linear-gradient(whiteSmoke, #E5E5E5);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5',endColorstr='#e5e5e5')";
	border-radius: 3px;
	border: 1px solid #DDD;
	border-bottom-color: #BBB;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
	cursor: pointer;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}