@import "css/mod/zen-forms";

.previewable-comment-form .zen-enabled textarea { padding: 10px 18px 10px 10px; }
.write-content.zen-enabled { position: relative; }
.write-content.zen-enabled .go-zen { position: absolute; right: 15px; top: 5px; }
