@charset "UTF-8";
.compare-range {
    margin-top: -15px;
    float: right;
}

.compare-range .switch {
    display: inline-block;
    width: 16px;
    height: 16px;
    text-indent: -9999px;
    background: url("/static/img/switch_icon.png") 0 0 no-repeat;
}

.commit-ref {
    padding: 2px 5px;
    line-height: 19px;
    font-family: Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
    font-size: 12px;
    font-weight: normal;
    color: white;
    text-shadow: -1px -1px 0 black;
    text-decoration: none;
    background: #787878;
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#787878',endColorstr='#282828')";
    border-radius: 3px;
}

#compare p.subtext {
    margin: -15px 0 10px 0;
    color: #666;
}

.rule, hr {
    clear: both;
    margin: 15px 0;
    height: 0;
    overflow: hidden;
    border: none;
    background: transparent;
    border-bottom: 1px solid #DDD;
}
.commits-condensed {
    margin-top: 15px;
    border: 1px solid #DDD;
    border-width: 1px 1px 0 1px;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 100%;
    font: inherit;
}

.avatar-bubble::before {
    content: "";
    display: block;
    height: 0;
    width: 0;
    border: 10px solid #EEE;
    border-width: 10px 10px 10px 0;
    border-color: transparent #EEE transparent transparent;
    position: absolute;
    left: 51px;
    top: 15px;
}

.bubble {
    padding: 3px;
    background: #EEE;
    border-radius: 3px;
}

.new-comments .bubble .comment {
    margin: 0;
}
.new-comments .comment {
    margin: 10px 0;
    border: 1px solid #CACACA;
}

.new-comments .comment .cmeta {
    height: 33px;
    padding: 0 10px 0 6px;
    border-bottom: 1px solid #CCC;
    background: #F8F8F8;
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#f8f8f8',endColorstr='#e1e1e1')";
}

.new-comments .comment > .body {
    position: relative;
    padding: 0;
    color: #333;
    font-size: 12px;
    background: #FBFBFB;
}

.avatar-bubble {
    margin: 20px 0;
    padding-left: 60px;
    position: relative;
}

.avatar-bubble > .avatar {
    position: relative;
    float: left;
    margin-left: -60px;
}

.comment .content-body {
    padding: 10px;
    font-size: 13px;
}

.markdown-body {
    font-size: 14px;
    line-height: 1.6;
}

.markdown-body p, .markdown-body blockquote, .markdown-body ul, .markdown-body ol, .markdown-body dl, .markdown-body li, .markdown-body table, .markdown-body pre {
    margin: 15px 0;
}

.new-comments .comment .cmeta p.author {
    margin: 0;
    float: left;
    max-width: 600px;
    font-size: 12px;
    height: 33px;
    line-height: 33px;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.7);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.new-comments .comment .cmeta p.info {
    float: right;
    margin: 0;
    font-size: 11px;
    height: 33px;
    line-height: 33px;
}
a.commit-ref:hover {
    text-shadow: -1px -1px 0 #04284B;
    background: #74A4D4;
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#74a4d4',endColorstr='#2a5177')";
    text-decoration: none;
}

#compare h2 {
    font-size: 20px;
}

.commit-preview {
    margin: 10px 0 0 0;
    font-size: 11px;
}

form-actions {
    text-align: right;
    padding-bottom: 5px;
}

.commit-preview > p {
    margin: 16px 0;
    font-size: 14px;
    text-align: center;
}

/* compare-popup related styles copied from hub.css */
.mini-icon-remove-close::before { content: ""; }
#compare-popup {
    position:absolute;
    top:159px;
    left:407px;
    z-index:100;
}
#compare-popup .popup { position:relative; border-radius:5px; box-shadow:0 0 18px rgba(0, 0, 0, 0.4); }
#compare-popup .content { width:425px; color:#333; font-size:12px; padding:10px; border-radius:4px; background:white; -ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr='white',endColorstr='#f4f9fb')"; }
#compare-popup .form-actions { margin:10px 0 0; background-color:#fff; text-align:right; }
#compare-popup .close { position:absolute; top:4px; right:5px; padding:2px; }
#compare-popup .close .mini-icon-remove-close { line-height:16px; height:16px; color:#CCC; }
#compare-popup input[type="text"] { width:96%; padding:5px 5px; font-size:12px; }

