h3.conversation-list-heading { margin: 25px 0 10px 0; height: 0; text-align: center; font-size: 16px; font-weight: normal; color: #999999; border-bottom: 1px solid #ddd; }
h3.conversation-list-heading .inner { display: inline-block; position: relative; top: -10px; padding: 0 5px; background: #fff; }
h3.conversation-list-heading strong { font-weight: bold; color: #333333; }
.simple-conversation-list>li .title .project-info { color: #999999; }
