@import "css/mod/diff-stat";

.diff-cutoff { margin-bottom: -2px; height: 35px; line-height: 37px; font-size: 12px; font-weight: bold; color: #000; text-align: center; background: url("/static/img/compare_too_big.gif") 0 0 no-repeat; }

.fullscreen-mode { overflow:hidden; }
#fullscreen-stage { display:none; position:fixed; top:0; left:0; width:100%; height:100%; overflow-y:auto; background:#fff; z-index:9999; }
#files #fullscreen-stage .file { margin:0; }
