#footer{
    clear: both;
    padding: 10px 0;
    color: #999;
    border-top: 1px solid #EAEAEA;
    background:url('/static/img/pb2.png') no-repeat center center;
}
#footer .footer-logo { float:left; opacity: 0.6; }
#footer #revision { color:lightgray; float:right; display:inline-table; }
#footer #revision span { padding: 0 5px;}
