/* Timeline on mobile */
body { margin:0; padding:0; }

.ui-footer ul li { line-height:32px; }
.scrollable .wrap { background:#fff; }

.timeline { width:100%; height:100%; position:fixed; margin-top:0; }
.timeline .action, .timeline .pulls { margin-bottom:0.5em; padding:0 12px 0 32px; border-bottom:1px solid #f1f1f1; }
.timeline .desc { border:none; margin-bottom:0.5em; padding-bottom:5px; }
