#settings-notifications h4 { margin:15px 0 5px 0; font-size:14px; color:black; }
.user-mention { font-weight:bold; color:#333; }
#settings-notifications ul.compact-options { margin:-6px 0 13px 0; }
#settings-notifications ul.compact-options li { margin: 0 15px 0 0; list-style-type:none; font-weight:bold; }
.horizontal_line { margin:10px 0 10px -10px; padding:0 10px; width:100%; }
