.pagination { 
    display:block; 
    margin:7px 0; 
    overflow:hidden; 
    a { 
        padding:8px; 
        width:100%; 
        text-align:center; 
        line-height: 1.4; 
    }
    a, span { 
        float:left; 
        margin:0; 
        color:#777; 
        font-size:13px; 
        text-decoration:none; 
        text-shadow:0 1px 0 white; 
        border-bottom:1px solid #DADADA; 
    }

    ul {
        li {
            a {
              width: 20px;
            }
        }

        .disabled {
            a {
                background-color: #fff;
            }
        }
    }
}
